.services-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.add-service-btn{
  background:#2563eb;
  color:white;
  border:none;
  padding:12px 18px;
  border-radius:10px;
  cursor:pointer;
}

.services-table-container{
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.services-table{
  width:100%;
  border-collapse:collapse;
}

.services-table th{
  background:#f8fafc;
  text-align:left;
  padding:18px;
}

.services-table td{
  padding:18px;
  border-top:1px solid #e2e8f0;
}

.active-status{
  background:#dcfce7;
  color:#15803d;
  padding:5px 12px;
  border-radius:30px;
}

.inactive-status{
  background:#fee2e2;
  color:#b91c1c;
  padding:5px 12px;
  border-radius:30px;
}

.edit-btn{
  background:#f59e0b;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
  margin-right:8px;
}

.delete-btn{
  background:#ef4444;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
}

.service-thumbnail {
  width: 80px;
  height: 60px;

  object-fit: cover;

  border-radius: 8px;
}

@media(max-width:768px){

  .services-header{
    flex-direction:column;
    gap:15px;
    align-items:flex-start;
  }

  .services-table-container{
    overflow-x:auto;
  }
}